In [7]:
names = ['A','B','c','D','E','F']

In [12]:
for name in names:
    print(name.title()+" is his name")  # title() function will capitalize the first letter

A is his name
B is his name
C is his name
D is his name
E is his name
F is his name

In [23]:
bats = ['SS','CEAT','MRF','NB','TON','SF']

print("Here are the different kind of bats:\n*********************************")

for bat in bats:
    print(bat+" is a good bat")
print("******************\nThese are the most frequently used bats in cricket")

Here are the different kind of bats:
*********************************
SS is a good bat
CEAT is a good bat
MRF is a good bat
NB is a good bat
TON is a good bat
SF is a good bat
******************
These are the most frequently used bats in cricket

In [24]:
## range() function example

for num in range(0,8):
    print(num)

0
1
2
3
4
5
6
7

In [25]:
## use list and range() to print the values / by 3 between 15 to 40

for num in range(15, 40, 3):
    print(num)

15
18
21
24
27
30
33
36
39

In [31]:
## Creating a list using the range() function

even_numbers = list(range(2,10+1,2))
even_numbers

[2, 4, 6, 8, 10]

In [47]:
## Creating a list using the range() function and for loop

list = []

for num in range(0,4):
    list.append(num)

In [48]:
list

[0, 1, 2, 3]

In [49]:
list2 = []
for num in range(0,5):
    list2.append(num**2)

In [50]:
list2

[0, 1, 4, 9, 16]

In [57]:
## Simple functions in python

print("min is "+str(min(list2)))
print("max is "+str(max(list2)))    ## We shld type cast the int to str to concadinate
print("sum is "+str(sum(list2)))

min is 0
max is 16
sum is 30

In [60]:
## List comprehensions

# This is used to simplify the lines of code

squares = [value**2 for value in range(1,11)]    
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [67]:
## Examples
#  1. Odd Numbers: Use the third argument of the range() function to make a list of the odd numbers from 1 to 20.
#  Use a for loop to print each number

for num in range(1,20,2):
    print(num)

1
3
5
7
9
11
13
15
17
19

In [68]:
# 2. Cubes: A number raised to the third power is called a cube. For example, 
# the cube of 2 is written as 2**3 in Python. Make a list of the first 10 cubes (that 
# is, the cube of each integer from 1 through 10), and use a for loop to print out 
# the value of each cube

cubes = []
for num in range(1,11):
    cubes.append(num**3)

In [69]:
cubes

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [70]:
# 3. Cube Comprehension: Use a list comprehension to generate a list of the 
# first 10 cubes

cubes = [value**3 for value in range(1,11)]
cubes

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [71]:
## Slicing a List

cubes[1:3]   # Here 3 is exclusive

[8, 27]

In [72]:
cubes[:4]   # Here 4 is exclusive

[1, 8, 27, 64]

In [73]:
cubes[2:]

[27, 64, 125, 216, 343, 512, 729, 1000]

In [74]:
cubes[:]

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [76]:
cubes[-3:]   # Negative index starts from last

[512, 729, 1000]

In [77]:
## Looping a sliced list

for num in cubes[3:]:
    print(num)

64
125
216
343
512
729
1000

In [86]:
## Copying a list

sample = [1,2,3,4]

#sample2 = sample 

## or we can use
sample2 = sample[:]

In [87]:
sample2

[1, 2, 3, 4]

In [93]:
## real time example
my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods = my_foods[:]
print("My favorite foods are:")
print(my_foods)
print("\nMy friend's favorite foods are:")
print(friend_foods)

My favorite foods are:
['pizza', 'falafel', 'carrot cake']

My friend's favorite foods are:
['pizza', 'falafel', 'carrot cake']

In [95]:
friend_foods.append('ice')

In [96]:
print("My favorite foods are:")
print(my_foods)
print("\nMy friend's favorite foods are:")
print(friend_foods)

My favorite foods are:
['pizza', 'falafel', 'carrot cake']

My friend's favorite foods are:
['pizza', 'falafel', 'carrot cake', 'ice']

In [97]:
my_foods.append('milkshake')   # Analyze the difference

In [98]:
print("My favorite foods are:")
print(my_foods)
print("\nMy friend's favorite foods are:")
print(friend_foods)

My favorite foods are:
['pizza', 'falafel', 'carrot cake', 'milkshake']

My friend's favorite foods are:
['pizza', 'falafel', 'carrot cake', 'ice']