Strings can be represented in single (') or double (") quotes. Each has some specific behavior. Refer the Examples

Here we are just giving the input as string with single quotes

In [1]:
'hello world'

'hello world'

Here we are just giving the input as string with double quotes

In [2]:
"Hello"

'Hello'

Limitation of single quotes. If u run the below script, It will gives u an syntax error because of ' quotes confusion

In [4]:
'I'm Karthick'

SyntaxError: invalid syntax (Temp/ipykernel_18244/3491208555.py, line 1)

To resolve the above problem, we need to enclose the string with double quotes

In [5]:
"I'm Karthick"

"I'm Karthick"

Using print function to print the result, Here we can't see the single quotes

In [6]:
print("Hello")

Hello

If you run the below script, It will print the last line of the code, To avoid this we need to use print()

In [7]:
'hello'
'hi'

'hi'

In [8]:
print('Hi')
print('Hello')

Hi
Hello

Use of Escape Sequence characters : \t is used for tab space, \n is used for new line

In [9]:
print('Karthick\tRagul\nPython is Awesome')

Karthick	Ragul
Python is Awesome

len() this function is used to find the length of the string

In [11]:
len('Karthick Ragul')

14

Indexing of Strings, Refer the below Example

In [12]:
name = "Karthick Ragul"

In [13]:
name

'Karthick Ragul'

The Below script is used to find the character present in the specified positive index. Indexing like [0,1,2,3]

In [14]:
name [4]

'h'

The Below script is used to find the character present in the specified negative index. Indexing like [0,-4,-3,-2,-1]

In [15]:
name [-2]

'u'

String Slicing. This is used to get the subset of the string. Syntax : String[start:end:step_size], Here the end index is exclusive

In [16]:
name [2:]

'rthick Ragul'

In [17]:
name [:8]

'Karthick'

The below script is used to get the complete string

In [20]:
name [::1]

'Karthick Ragul'

The below script is used to get the string with step size

In [19]:
name [::2]

'Krhc au'

The below script is used to reverse the string

In [22]:
name [::-1]

'lugaR kcihtraK'

The below script is used to get the string from end with step size as 2

In [23]:
name [::-2]

'lgRkita'