In [41]:
class Test():
    # Class object attribute 
    tag='student'
    
    def __init__(self,name,subject,mark):
        
        # Attributes 
        # We take in the argument 
        # Assign it using self.attribute_name
        
        self.name=name
        self.subject=subject
        self.mark=mark
        
    def rank(self):
        #print(self.name,"is Third Rank.\tHe scored",self.mark,"in",self.subject)
        print("{} is Third Rank.\tHe scored {} in {}".format(self.name,self.mark,self.subject))

In [42]:
my_test = Test('Karthick','Maths',100)   # thisis the instance of the class Test

In [43]:
my_test.name   # Attributes

'Karthick'

In [44]:
my_test.mark    # Attributes

100

In [45]:
type(my_test)

__main__.Test

In [46]:
my_test.tag

'student'

In [47]:
my_test.rank()

Karthick is Third Rank.	He scored 100 in Maths

In [57]:
class Employee():
    
    def __init__(self, name, salary):
        self.salary=salary    # Attributes
        self.name=name
        
    def get_tax(self):     # Methods
        print("{}'s tax amount is {}".format(self.name, self.salary * 0.05))

In [58]:
emp = Employee('Karthick',30000)

In [59]:
emp.get_tax()

Karthick's tax amount is 1500.0

In [36]:
# Example 3


class Employee():
    
    tax_rate = 0.05
    
    def __init__(self, name, salary):
        self.name=name     # These are attributes
        self.salary=salary
        
    def tax(self, year):  # Method used to calculate the tax
        total_tax=self.tax_rate * self.salary
        print("{}'s Total tax amount will be : {} for the year of {}".format(self.name, total_tax,year))

In [37]:
emp=Employee('Karthick', 60000)

In [38]:
emp.name

'Karthick'

In [39]:
emp.salary

60000

In [40]:
emp.tax(2022)

Karthick's Total tax amount will be : 3000.0 for the year of 2022