Examples for IF, ELIF, ELSE statements: Here ":" and Indentations are very much important

In [2]:
name = "Karthick"

if name == 'Karthick':      # ':' is important 
    print("Welcome, Karthick!")
elif name == 'Ragul':
    print("Welcome, Ragul!")  # Indentation is also important 
else :
    print("Who are you?")

Welcome, Karthick!

Examples of FOR LOOP in python : Looping is used for iteration of objects

In [14]:
mylist=['Karthick','Ragul',22,100,99.0,"Engineer"]

for items in mylist:
    print(items)

Karthick
Ragul
22
100
99.0
Engineer

In [18]:
for items in mylist:                 # This is an Example for control flow
    if(type(items) == str):
        print(f'Strings : {items}')
    elif(type(items)==int):
        print(f'Intergers : {items}')     # This one type of print format
    else :
        print(str(items) + " - This is float type")

Strings : Karthick
Strings : Ragul
Intergers : 22
Intergers : 100
99.0 - This is float type
Strings : Engineer

In [22]:
num_list =[1,2,3,4,5,6]
list_sum = 0
for num in num_list:
    list_sum = list_sum + num
    print(list_sum)            # This print statement will print the each and every iteration results
                                # These 2 types of print statements clearly tells the importance of indendations in python
print("This is total", list_sum)    # This print statement will print the final result stored in the list_sum variable

1
3
6
10
15
21
This is total 21

Examples of String iterations :

In [25]:
my_string = 'Hellloooo! '

for char in my_string:   # Example 1
    print(char)
    
for char in 'Character':  # Example 2 without assigning value in variables
    print(char)

H
e
l
l
l
o
o
o
o
!

C
h
a
r
a
c
t
e
r

In [26]:
my_tuple = (1,2,3,4,5)

for num in my_tuple:
    print(num)

1
2
3
4
5

In [28]:
my_list=[(1,2,3),(4,5,6),(7,8,9)]   

for item in my_list:
    print(item)

for a,b,c in my_list:                # This is known as "Tuple unpacking"
    print(a)      
    print(b)
    print(c)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
1
2
3
4
5
6
7
8
9

In [40]:
dictionary = {'k1':'Karthick','k2':'Ragul','k3':22,'k4':99.9}

print("This will result Keys")
for items in dictionary:           # This will iterate thru keys only
    print(items)
    
print("This will results items")    
for items in dictionary.items():   # This will print the key value pairs, With the help of "dictionary.items()"
    print(items)
    
print("This will results values")    
for value in dictionary.values():
    print(value)
    
print("This will results items with the help of tuple unpacking concept")    
for key,value in dictionary.items():  # We can use the tuple unpacking 
    print("Keys : ",key)
    print("Values : ",value)

This will result Keys
k1
k2
k3
k4
This will results items
('k1', 'Karthick')
('k2', 'Ragul')
('k3', 22)
('k4', 99.9)
This will results values
Karthick
Ragul
22
99.9
This will results items with the help of tuple unpacking concept
Keys :  k1
Values :  Karthick
Keys :  k2
Values :  Ragul
Keys :  k3
Values :  22
Keys :  k4
Values :  99.9

Examples of WHILE LOOP in python

In [43]:
x = 0

while x < 7:
    print(x,"is Less than 7")    # If we didn't put increment here it will do the infinite loop
    x+=1

0 is Less than 7
1 is Less than 7
2 is Less than 7
3 is Less than 7
4 is Less than 7
5 is Less than 7
6 is Less than 7

Break, Continue, Pass Statements:

Break : Breaks out of the current closest enclosing loop

Continue : Goes to the top of the closest enclosing loop 

Pass : Does nothing at all (This is like a place holder)

In [51]:
x = [1,2,3,4,5,6]

for item in x:       # This is example of break
    print(item)
    if(item == 4):   # Breaks the loop if the condtion statisfies
        break;

1
2
3
4

In [50]:
y=0
while y < 5:      # This is example of continue 
    y+=1
    if(y==3):     # Skips the iteration if the condition statisfies
        continue
    print(y)

1
2
4
5

In [52]:
for item in x:
    # statement 
    pass           # Here pass is used to avoid the syntax error, try without pass and with pass to see the difference
    print(item)

1
2
3
4
5
6

Useful Operators in Python : range(),enumerate(),zip()

In [53]:
# range() function    - Syntax range(start_index,end_index,step_size)

for num in range(0,6):     # This will print values from 0 to 5(6 is exclusive)
    print(num)

0
1
2
3
4
5

In [55]:
# range() function    - Syntax range(start_index,end_index,step_size)

for num in range(0,7,2):     # This will print values from 0 to 7 with the step_size as 2 (Here 7 is exclusive)
    print(num)

0
2
4
6

In [62]:
print(range(2,10))      
print(type(range(2,10)))    # Type of range()
print(list(range(2,10,2)))  # Printing the elements present in the range as list

range(2, 10)
<class 'range'>
[2, 4, 6, 8]

In [67]:
name = "Karthick"

print("\nThe below output is Example for enumerate() : \n")  
for char in enumerate(name):   # Example for Enumerate function, This will result as tuple 
    print(char)
    
print("\nThe below output is Example for tuple unpacking : \n")    
for index,char in enumerate(name):
    print(index)
    print(char)
    print('\n')

The below output is Example for enumerate() :

(0, 'K')
(1, 'a')
(2, 'r')
(3, 't')
(4, 'h')
(5, 'i')
(6, 'c')
(7, 'k')

The below output is Example for tuple unpacking :

0
K


1
a


2
r


3
t


4
h


5
i


6
c


7
k

In [69]:
my_list1=[1,2,3,4,5]                    # Example for ZIP()
my_list2=['a','b','c']

for item in zip(my_list1,my_list2):     # This will result like tuple, If the size is uneven, it will ignore the rem values
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [70]:
list(zip(my_list1,my_list2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [71]:
my_list = [1,3,5,6]    # Example for IN operator, It will return as Bool. It is used to check the value present in the my_list
7 in my_list

False

In [72]:
'K' in "Karthick"     # Example 2 for IN operator with String

True

In [73]:
my_tuple = (1,234,4)    # Example 3 for IN operator with tuples
233 in my_tuple

False

In [74]:
my_dict = {'k1':'Hello','k2':'World'}   # Example 4 for IN operator with Dictionary, by default it results based on key
print('k1' in my_dict)
print('k3' in my_dict)

True
False

In [75]:
print('World' in my_dict.values())     # This is used to check the World value present in the dictionary

True

In [79]:
'k1' in my_dict.keys()      # This is used to check the 'k1' key present in the dictionary

True

In [80]:
my_list = [1,10,399,6683,997898]    # This is the example for min(),max() functions in python
print(min(my_list))  
print(max(my_list))

1
997898

random Library in python :

In [81]:
from random import shuffle   # Here 'Shuffle' is a function from 'random' library

In [83]:
my_list=[1,2,3,4,5,6,7,8]

In [86]:
shuffle(my_list)      # This shuffle function is used to shuffle the list, It is NoneType, returns Nothing

In [88]:
my_list

[8, 2, 3, 1, 4, 5, 7, 6]

In [89]:
from random import randint   #  Here 'randint' is a function from 'random' library

In [93]:
rand_value = randint(2,499)  # Here It will give some random integer number inbetween the range 
print(rand_value)

57

In [94]:
input("Enter ur name:")   # This input function is used to get the user input, It's default type is str

Enter ur name:karthick

'karthick'

In [98]:
num=int(input("Enter a number ")) # This is used to type casting the input to int value

Enter a number 6

In [99]:
num

6

List Comprehensions are a unique way of quickly creating a list in python, This approach is better compared to using for loop with .append() function

In [102]:
my_list=[]
for num in range(2,7,2):     # This is how we normally add values in list 
    my_list.append(num)

In [103]:
my_list

[2, 4, 6]

In [105]:
# This is alternative way of doing the above code,But It is very hard we can return back after some days, Less readability

my_list= [num for num in range(0,7,2)]   # Here num of num is the concept, watch the video for more details

In [106]:
my_list

[0, 2, 4, 6]